{% extends "layout.html" %}

{% block content %}
<center>
    <div class="centered">
        <p><b>Upload an image to predict its class</b></p>
        <div class="upload-form">
          <form action = "/uploader" method = "POST" enctype = "multipart/form-data">
            <input type="radio" id="rest" name="protocol" value="rest">
            <label for="REST">REST</label><br>
            <input type="radio" id="grpc" name="protocol" value="grpc">
            <label for="grpc">gRPC</label><br>
            <input type = "file" name = "file" />
            <input type = "submit"/>
          </form>
        </div>
 </div>
</center> 
{% endblock %}